body {
  background-image: url(""), url("paper-background-1.jpeg");
  background-position: center;
  background-size: 200%;
}

/*LINKS*/
li a {
  display: block;
  color: rgb(4, 17, 130);
  padding: 100px 16px;
  text-decoration: none;
  width: 100;
}
a:visited {
    color: rgb(0, 251, 255); /* Replace with your desired color */
    text-decoration: none; /* Optional: Remove underline */
}
/* Change the link and background color on hover */
li a:hover {
  background-color: #031c66;
  color: rgb(204, 13, 13);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #720342;
  font-family: "Eagle Lake", serif;
  
}
ul li { /*links or words within the list*/
  float: center;
  border-right: none;
  font-family: "Eagle Lake", serif;
}
ul li a { /*without hoovering*/
  display: block;
  color: rgb(0, 251, 255);
  text-align: start;
  padding: 15px 30px;
  text-decoration: none;
  float: left;
  border-right: 0px solid #220606;
}
ul li a:hover {
  background-color: #020f65;
}

/*Buttons*/
.close-btn {
  position: absolute;
  top: 5px;
  right: 8px;
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
}

.close-btn2{
  position: sticky;
  top: 5px;
  right: 8px;
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
}
.button {
  background:#720342 15px 32px;
  padding: 15px 32px;
  border:none;
  text-align: center;
  text-decoration: none;
  font-family: "Eagle Lake", serif;
  color: rgb(0, 251, 255);
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.button:hover {
  background-color: #020f65;
  color:rgb(204, 13, 13);
}
.popup{
  font-family: "Eagle Lake", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
}

.popover{
  background-image: url(paper-background-1.jpeg);
  background-size: 500%;
  background-position: center;
  width: 600px;
  height: 600px;
  position: fixed;
  padding: 20px;
}

.popover2{
  background-image: url(paper-background-1.jpeg);
  background-size: 500%;
  background-position: center;
  width: 100%;
  position: fixed;
  padding: 20px;
}
.popover-image{
  position: center;
}
/*PARAGRAPHS*/
.paragraphAbout1 {
  width: 600px;
  border-radius: 0;
  border:#720342 solid 5px;
  padding: 5px;
}
.bp{
  padding: 10px;
  border: #720342 solid 5px;
}

/*IMAGES*/
.icon {
  display: flex;
  align-items: center;
  gap: 10px; /* Adds space between image and text */
}
.home-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Adds space between image and text */
}
.h3background{
  background:#720342 15px 300px;
  padding: 15px 300px;
  border:none;
  text-align:justify;
  text-decoration: none;
  font-family: "Eagle Lake", serif;
  color: rgb(0, 251, 255);
  display: inline-block;
  font-size: 16px;
}

button {
  background-color: transparent;
  border: none;
  /* Optional: if using background-image */
  background-image: url('');
  background-repeat: no-repeat;
  background-position: center;
}
button:hover {
  background-color: #020f65;
}

.right-image{
    float: right;
    margin: 1px;
    container: 1px;
    border: none;
    padding-top: none;
    max-width: 1000px;
    object-position: top 10px left 100;
    position: sticky;
}
.map-image{
    float: left;
    margin-right: 15px;
    max-width: 300px;
}

.image-container {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
}
.image {
    width: 30%;
    margin-right: 15px;
}
.text {
    width: 70%;
    margin: 0;
}


/*FONTS*/
.uncial-antiqua-regular {
  font-family: "Uncial Antiqua", system-ui;
  font-weight: 400;
  font-style: normal;
}
.eagle-lake-regular {
  font-family: "Eagle Lake", serif;
  font-weight: 400;
  font-style: normal;
}
h1 { 
  font-family: "Uncial Antiqua", serif;
  font-weight: 400;
  font-style: normal;
}
h2{
font-family: "Uncial Antiqua", serif;
  font-weight: 400;
  font-style: normal;
}
h3{
font-family: "Uncial Antiqua", serif;
  font-weight: 400;
  font-style: normal;
}
.I1 {
border-color: blue;
  }

p {
  font-family: "Eagle Lake", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

